
#map,
.map__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: gray;
}
.map__overlay {
   top: 10%;

  width: 20%;
  color: #FFF;
  background: #ffffffa3;
  display: flex;
  align-items: center;
  justify-content: center;
}